body{
    background-color: #9bb5f9;
}

.balk{
    position: absolute;
    background-color: #7d92ba;
    width: 70%;
    height: 11%;
    left: 15%;
    top: 9%;
}

.contact{
    position: absolute;
    background-color: #7d92ba;
    width: 40%;
    height: 40%;
    top: 50%;
    left: 30%;
    text-align: center;
    
}

.inlog{
    
    position: relative;
    text-align: center;
    top: -5%;
    font-size: 140%;
    
}