body{
    background-color: #004F59;
}

.balk{
    position: absolute;
    background-color: #EC644A;
    width: 70%;
    height: 11%;
    left: 15%;
    top: 9%;
}

.cirkel {
    position: absolute;
    height: 200px;
    width: 200px;
    left: 80%;
    background-color: #f6ef33;
    border-radius: 50%;
    display: inline-block;
    top: 50px;
    z-index: 1000;
  }


h2{
    position: relative;
    top: 10%;
    font-size: 230%;
    color: #EC644A;
}
.cirkel {
    position: absolute;
    height: 200px;
    width: 200px;
    left: 80%;
    background-color: #f6ef33;
    border-radius: 50%;
    display: inline-block;
    top: 2%;
    z-index: 1000;
    text-align: center;
}

.contact{
    position: absolute;
    background-color: #f6ef33;
    width: 40%;
    height: 40%;
    top: 50%;
    left: 30%;
    text-align: center;
    
}

.inlog{
    
    position: relative;
    text-align: center;
    top: -5%;
    font-size: 140%;
    
}
