body{
    background-color: #9bb5f9;
}

.balk{
    position: absolute;
    background-color: #7d92ba;
    width: 70%;
    height: 11%;
    left: 15%;
    top: 9%;
}   

.inlog{
    
    position: relative;
    text-align: center;
    top: -5%;
    font-size: 140%;
    
}

h2{
    position: relative;
    top: 10%;
    font-size: 230%;
    color: #000000;
}
.Vraag1{
    position: absolute;
    background-color: #7d92ba;
    width: 40%;
    height: 6%;
    top: 35%;
    right: 30%;
}
.Vraag2{
    position: absolute;
    background-color: #7d92ba;
    width: 40%;
    height: 6%;
    top: 53%;
    right: 30%;
}
.Vraag3{
    position: absolute;
    background-color: #7d92ba;
    width: 40%;
    height: 6%;
    top: 71%;
    right: 30%;
}

.Vraag4{
    position: absolute;
    background-color: #7d92ba;
    width: 40%;
    height: 6%;
    top: 89%;
    right: 30%;
}
.Vraag5{
    position: absolute;
    background-color: #7d92ba;
    width: 40%;
    height: 6%;
    top: 107%;
    right: 30%;
}
.Vraag6{
    position: absolute;
    background-color: #7d92ba;
    width: 40%;
    height: 6%;
    top: 125%;
    right: 30%;
}
.Vraag7{
    position: absolute;
    background-color: #7d92ba;
    width: 40%;
    height: 6%;
    top: 143%;
    right: 30%;
}
.Vraag8{
    position: absolute;
    background-color: #7d92ba;
    width: 40%;
    height: 6%;
    top: 161%;
    right: 30%;
}

h3{
    position: relative;
    font-size: 130%;
    top: -10%;
    left: 1%; 
}

.Antwoord1{
    position: absolute;
    background-color: #ffffff;
    width: 39.5%;
    height: 6%;
    top: 43%;
    right: 30%;
    font-size: 130%;
}
.Antwoord2{
    position: absolute;
    background-color: #ffffff;
    width:39.5%;
    height: 6%;
    top:61%;
    right: 30%;
    font-size: 130%;
}
.Antwoord3{
    position: absolute;
    background-color: #ffffff;
    width: 39.5%;
    height: 6%;
    top: 79%;
    right: 30%;
    font-size: 130%;
}
.Antwoord4{
    position: absolute;
    background-color: #ffffff;
    width: 39.5%;
    height: 6%;
    top: 97%;
    right: 30%;
    font-size: 130%;
}
.Antwoord5{
    position: absolute;
    background-color: #ffffff;
    width: 39.5%;
    height: 6%;
    top: 115%;
    right: 30%;
    font-size: 130%;
}
.Antwoord6{
    position: absolute;
    background-color: #ffffff;
    width: 39.5%;
    height: 6%;
    top: 133%;
    right: 30%;
    font-size: 130%;
}
.Antwoord7{
    position: absolute;
    background-color: #ffffff;
    width: 39.5%;
    height: 6%;
    top: 151%;
    right: 30%;
    font-size: 130%;
}
.Antwoord8{
    position: absolute;
    background-color: #ffffff;
    width: 39.5%;
    height: 6%;
    top: 169%;
    right: 30%;
    font-size: 130%;
}



.submit{
    position: absolute;
    background-color: #7d92ba;
    width: 15%;
    height: 6%;
    top: 180%;
    right: 30%;
    font-size: 120%;
    border-radius: 35px;
    text-decoration: none;
    color: black;
    border: 2px solid #7d92ba;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.submit:hover {
  background-color: #6F8ABB;
  border: 4px solid #6F8ABB;
  transition-duration: 0.4s;

  color: white;
  box-shadow: 0 12px 30px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  
}

.einde{
    position: absolute;
    background-color: #9bb5f9;
    top: 190%;
    width: 1%;
    height: 1%;
}








  
  /* Laptop & Desktop */
  @media (min-width: 1200px) {
    :root {
      --fontSizeMultiplier: 1;
      --marpadMultiplier: 1;
    }
  }