body{
    background-color: #004F59;
}

.balk{
    position: absolute;
    background-color: #EC644A;
    width:60%;
    height: 100px;
    
    
}
.inlog{
    
    position: relative;
    text-align: center;
    top: -5%;
    font-size: 140%;
    
}
.cirkel {
    position: absolute;
    height: 200px;
    width: 200px;
    left: 80%;
    background-color: #001aff;
    border-radius: 50%;
    display: inline-block;
    top: 50px;
    z-index: 1000;
  }
