body{
    background-color: #9bb5f9;
}

.balk{
    position: absolute;
    background-color: #7d92ba;
    width: 70%;
    height: 11%;
    left: 15%;
    top: 9%;

}
.inlog{
    
    position: relative;
    text-align: center;
    top: -5%;
    font-size: 140%;
    
}


.gebruikersnaam{
    position: absolute;
    background-color: #7d92ba;
    width: 40%;
    height: 5%;
    top: 35%;
    left: 30%;
}
.wachtwoord{
    position: absolute;
    background-color: #7d92ba;
    width: 40%;
    height: 5%;
    top: 50%;
    left: 30%;
}
h3{
    position: relative;
    font-size: 150%;
    top: -30%;
    left: 1%;
    height: 6%;
}
.geb{
    position: absolute;
    left: 29.95%;
    top: 42.5%;
    height: 5%;
    width: 39.60%;
    font-size: 130%;
}
.wacht{
    position: absolute;
    left: 29.95%;
    top: 57%;
    height: 5%;
    width: 39.60%;
    font-size: 130%;
}
.sub{
    position: absolute;
    left: 55.05%;
    top: 67%;
    height: 6%;
    width: 15%;
    border-radius: 35px;
    background-color: #7d92ba;
    font-size: 120%;
    text-decoration: none;
    color: black;
    border: 2px solid #7d92ba;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
  .sub:hover {
    background-color: #6F8ABB;
    border: 4px solid #6F8ABB;
    transition-duration: 0.4s;

    color: white;
    box-shadow: 0 12px 30px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
  }

  .regi{
    position: absolute;
    left: 30.05%;
    top: 67%;
    height: 6%;
    width: 15%;
    border-radius: 35px;
    background-color: #7d92ba;
    font-size: 120%;
    text-decoration: none;
    color: black;

    border: 2px solid #7d92ba;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
  .regi:hover {
    background-color: #6F8ABB;
    border: 4px solid #6F8ABB;
    transition-duration: 0.4s;

    color: white;
    box-shadow: 0 12px 30px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}
h4{
    position: relative;
    top: -15%;
    left: 33%;
}



 

