body{
    background-color: #004F59;
}

.balk{
    position: absolute;
    background-color: #EC644A;
    width:60%;
    height: 100px;
    
    
}
.inlog{
    
    position: relative;
    text-align: center;
    top: -5%;
    font-size: 140%;
    
}
.cirkel {
    position: absolute;
    height: 200px;
    width: 200px;
    left: 80%;
    background-color: #f6ef33;
    border-radius: 50%;
    display: inline-block;
    top: 50px;
    z-index: 1000;
  }
  body{
    background-color: #004F59;
}

.balk{
    position: absolute;
    background-color: #EC644A;
    width: 99%;
    height: 11%;
}
.inlog{
    
    position: relative;
    text-align: center;
    top: -5%;
    font-size: 140%;
    
}
.cirkel {
    position: absolute;
    height: 200px;
    width: 200px;
    left: 80%;
    background-color: #f6ef33;
    border-radius: 50%;
    display: inline-block;
    top: 2%;
    z-index: 1000;
    text-align: center;
}
h2{
    position: relative;
    top: 10%;
    font-size: 230%;
    color: #EC644A;
}
.gebruikersnaam{
    position: absolute;
    background-color: #EC644A;
    width: 40%;
    height: 6%;
    top: 60%;
    right: 30%;
}
.wachtwoord{
    position: absolute;
    background-color: #EC644A;
    width: 40%;
    height: 6%;
    top: 75%;
    right: 30%;
}
h3{
    position: relative;
    font-size: 130%;
    top: -30%;
    left: 1%; 
}
.Email{
    position: absolute;
    background-color: #EC644A;
    width: 40%;
    height: 6%;
    top: 45%;
    right: 30%;
}

.Antwoord1{
    position: absolute;
    background-color: #ffffff;
    width: 40%;
    height: 4%;
    top: 50%;
    right: 30%;
}
.Antwoord2{
    position: absolute;
    background-color: #EC644A;
    width: 40%;
    height: 6%;
    top: 45%;
    right: 30%;
}
.Antwoord3{
    position: absolute;
    background-color: #EC644A;
    width: 40%;
    height: 6%;
    top: 45%;
    right: 30%;
}