body{
    background-color: #9bb5f9;
}

.balk{
    position: absolute;
    background-color: #7d92ba;
    width: 70%;
    height: 11%;
    left: 15%;
    top: 9%;
}
    

.inlog{
    
    position: relative;
    text-align: center;
    top: -5%;
    font-size: 140%;
    
}

.inlog{
    
    position: relative;
    text-align: center;
    top: -5%;
    font-size: 140%;
    
}

h2{
    position: relative;
    top: 10%;
    font-size: 230%;
    color: #000000;
}
.gebruikersnaam{
    position: absolute;
    background-color: #7d92ba;
    width: 40%;
    height: 6%;
    top: 53%;
    right: 30%;
}
.wachtwoord{
    position: absolute;
    background-color: #7d92ba;
    width: 40%;
    height: 6%;
    top: 71%;
    right: 30%;
}
h3{
    position: relative;
    font-size: 130%;
    top: -30%;
    left: 1%; 
}
.Email{
    position: absolute;
    background-color: #7d92ba;
    width: 40%;
    height: 6%;
    top: 35%;
    right: 30%;
}

.Antwoord1{
    position: absolute;
    background-color: #ffffff;
    width: 39.5%;
    height: 6%;
    top: 43%;
    right: 30%;
    font-size: 130%;
}
.Antwoord2{
    position: absolute;
    background-color: #ffffff;
    width:39.5%;
    height: 6%;
    top:61%;
    right: 30%;
    font-size: 130%;
}
.Antwoord3{
    position: absolute;
    background-color: #ffffff;
    width: 39.5%;
    height: 6%;
    top: 79%;
    right: 30%;
    font-size: 130%;
}

.submit{
    position: absolute;
    background-color: #7d92ba;
    width: 15%;
    height: 6%;
    top: 90%;
    right: 30%;
    text-decoration: none;
    color: black;
    font-size: 90%;
    border-radius: 35px;
    border: 2px solid #7d92ba;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   
}

  .submit:hover {
    background-color: #ee4725;
    border: 4px solid #ee4725;
    transition-duration: 0.4s;

    color: white;
    box-shadow: 0 12px 30px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
  }














h4{
    position: relative;
    top: -0%;
    left: 33%;
    font-size: 110%;
}



  /* Laptop & Desktop */
  @media (min-width: 1200px) {
    :root {
      --fontSizeMultiplier: 1;
      --marpadMultiplier: 1;
    }
  }